body {
  font-family: 'Lexend', sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

::placeholder {
  color: white;
}

.active {
  text-decoration: underline;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  width: 100%;
}


.icons:hover {
  scale: 1.1;
  
}
#loggabild{
 background-color: rgb(241, 198, 6);
 border-radius: 50%;
width: 50px;
height: 50px;
              
}
.navbarlänk {
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 25px;
  font-weight: bold;

}
.navbarlänk:hover {
  scale: 1.1;
  color:rgb(241, 198, 6);
}
/* PRODUCT LIST CARDS */
#productsdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#filterbar{
  border: 1px solid black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sökknappar{

  border: 1px solid black;
  margin-right: 20px;
  width: 60px;
  border-radius: 10px;
}
.productUL {
  margin-top: 70px;
  margin-bottom: 70px;
  width: 80vw;
  min-height: 10vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 40px;
  
}
.productcard{
  padding-bottom: 10px;
  border: 0.5px solid rgb(130, 130, 130);
  border-radius: 20px;
  
  min-height: 360px;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.productListItem {
  border: 0.5px solid rgb(130, 130, 130);
  width: 260px;
  height: 260px;
 
  background-size: contain;
 
  background-clip: content-box;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
 
}.productsinfotext{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: center;
background-clip: content-box;
overflow: hidden;
}
.albumInfo {
  font-size: 12px;
  color: rgb(12, 12, 12);

  
}

.albumTitle {
  color: rgb(7, 7, 7);
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  
}

.priceTag {
  font-size: 16px;
  color: rgb(0, 0, 0);


  margin-bottom: 10px;
}
.seemorebutton{
  border: 1px solid black;
  width: 120px;
  height: 40px;
  color:rgb(241, 198, 6);
  background-color: black;
  margin-bottom: 20px;
  
}
.reklambanner{
  border: 1px solid black;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgb(241, 198, 6);;
}
#Presentkort{

  background-image: url(../imgs/Dissolve_D985_58_649_master1.png);
 filter: brightness(90%);
 background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

#presentkortinnehåll{
  color: white;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
  margin-right: 200px;
  row-gap: 25px;

}

#presentkortkort{
  background-image: url(../imgs/kort.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 border: solid 1px black;
 background-color: grey;
 border-radius: 10px;
 width: 400px;
 height: 250px;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}
#presentkortdiv{
  border: 1px solid black;
 
  width: 100%;
  height: 1200px;
}







/* NEW RELEASE SLIDE THING */


#newReleaseSlide{
  display: flex;
  flex-direction: row;
  width: 80%;
  overflow-x: scroll;
}

.newReleaseItem{
  min-width: 19vw;
  max-width: 21vw;
  flex: 0 0 25%;
  justify-self: center;
}

::-webkit-scrollbar {
  width: 12px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #252525;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(241, 198, 6);
}

::-webkit-scrollbar-track {
  background-color: #afafaf;
}


/* CART */


@media (max-width: 800px) {
  .form__row {
    flex-direction: column-reverse;
  }
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h4 {
  margin-top: 0;
}

input {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #0b0b0b;
  outline: none;
}
.imagePreview {
  margin-top: 20px;
  border-radius: 20px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}
.backLink {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}
.updateButton {
  display: block;
  width: 20%;
  padding: 10px;
  background-color: #04AA6D;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.DeleteButton:hover {
  background-color: #4a4e52;
}
.DeleteButton:hover {
  background-color: #4a4e52;
}
#createproductnavigering {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  transition: 0.5s;
  text-decoration: none;
  color: white;
  margin-top: 15px;
  width: 120px;
  padding: 10px;
  padding-left: 20px;
  background-color: #04AA6D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#createproductnavigering:hover {
  scale: 1.1;
}

#uppdateraKnapp {
  all: unset;
  border-radius: 5px;
  color: white;
  border: none;
  background-color: #04AA6D;
  text-align: center;
  padding: 0;
  padding: 5px 5px;
  font-weight: bold;
  text-decoration: none;
  height: 25px;

}
#uppdateraKnapp:active {
  transform: scale(0.9);
}

#knappcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 88px;
}

#carthoverdiv {
  position: absolute;
  width: 500px;
  top: 100%;
  right: -205px;
  background: #fff;
  padding: 16px;
  border-radius: 4px;
  z-Index: 9999;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  transition: 2s;
}
.DeleteButton:hover {
  background-color: #4a4e52;
}

.DeleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 85px;
  text-align: center;
  border-radius: 4px;
  background-color: #921616;
  color: #fff;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}
.DeleteButton:hover {
  background-color: #4a4e52;
}

#carthoverdiv table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid lightgrey;

}
#checkoutknapp {
  all: unset;
  border-radius: 5px;
  color: white;
  border: none;
  background-color: #04AA6D;
  text-align: center;
  padding: 0;
  padding: 5px 5px;
  font-weight: bold;
  text-decoration: none;
  height: 25px;

}
#carthoverdiv td {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid lightgrey;
}
#carthoverdiv tr:hover {
  background-color: lightgray;
}
#formcontainer{
  background-color: rgba(255,255,255,.5);
  backdrop-filter: blur(10px);
  box-shadow: -20px 20px 10px rgba(0,0,0,0.3);
  margin: 0 auto;
  background-color: white;
  display: flex;
 padding-top: 50px;
justify-content: center;
  flex-direction: row;
  width: 1400px;
}
.form-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}
#formcontainer{
  background-color: rgba(255,255,255,.5);
  backdrop-filter: blur(10px);

min-height: 1000px;
}
#checkoutform{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.inputcheckout{
 border: 2px solid rgb(131, 131, 131);
 font-size: 20px;
}