@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Press+Start+2P&display=swap');
body {
  background-color: #242424;
  font-family: 'Lexend', sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

::placeholder {
  color: white;
}

.active {
  text-decoration: underline;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}


.icons:hover {
  scale: 1.1;
  
}
#loggabild{
 background-color: rgb(241, 198, 6);
 border-radius: 50%;
width: 50px;
height: 50px;
}

.navbarlänk {
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 25px;
  font-weight: bold;

}
.navbarlänk:hover {
  scale: 1.1;
  color:rgb(241, 198, 6);
}

/*LANIDNG PAGE*/
.landing-container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.landing-page{
  height: 80vh;
  width: 100%;
  background-image: url(./imgs/chase-fade-XOLIrILp-vI-unsplash.jpg);
  background-size: cover;
}

.in-pic-container{
  display: flex;
    flex-direction: column;
  height: 150px;
  width: 500px;
  justify-content: center;
  align-items: center;
  margin-top: 35vh;
  color: white;
}

.store-name-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}
.highlighted-letter {
  color: rgb(236, 194, 6);
}

.btn-container {
  display: flex;
  width: 400px;
  height: 55px;
  justify-content: space-evenly;
  align-items: center;
}

.btn-container button {
  background-color:rgb(249, 204, 2);
  border: none;
  padding: 0.5rem;
  font-size: 15px;
  width: 12em;
  border-radius: 16px;
  color: black;
  box-shadow: 0 0.2rem #797916;
  cursor: pointer;
}

.btn-container .custom-login-btn {
  background-color: rgba(255, 255, 255, 0.212);
  box-shadow: 0 0.2rem #0303016e;
}

.btn-container button:active {
  color: white;
  box-shadow: 0 0.2rem #797916;
  transform: translateY(0.3rem);
}

.btn-container button:hover:not(:disabled) {
  background-color: rgb(236, 194, 6);
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

.btn-container button:disabled {
  cursor: auto;
  color: grey;
}


/* FILTER NAV*/
#filterbar{
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 1px 24px 0 rgb(31, 31, 31);
  background-color: rgb(41, 41, 41) !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

/* PRODUCT LIST CARDS */
#productsdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#filterbar{
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sökknappar{
  font-weight: 600;
  color: white;
  background-color:rgb(249, 204, 2);
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  min-width: 150px;
}
.sökknapparaktiverad{
  background-color: black;
  color: rgb(251, 214, 4);;
  font-weight: 600;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  min-width: 150px;
}

/*PRODDUCTS*/
.productUL {
  box-shadow: 0 1px 24px 0 rgb(31, 31, 31);
  background-color: rgb(41, 41, 41) !important;
  margin: 20px 50px;
  padding:20px;
  width: 96vw;
  min-height: 10vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 40px;
  border-radius: 20px;
}

.productcard{
  background-color: rgb(59, 59, 59) ;  
  min-height: 360px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(250, 255, 113, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  overflow: hidden;
}

.productListItem { /*prduct picture*/
  width: 300px;
  height: 300px;
  background-size: contain;
  display: flex;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
 
}.productsinfotext{
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.albumTitle {
  text-align: center;
  margin-bottom: 5px;
  padding: 5px;
  color: rgb(7, 7, 7);
  font-size: 20px;
  text-overflow: clip;  
  overflow: hidden;
}

.albumInfo {
  font-size: 12px;
  color: rgb(12, 12, 12);
}

.priceTag {
  margin-top: 20px ;
  font-weight: 600;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.cartBtn{
  font-weight: 600;
  color: white;
  background-color:rgb(249, 204, 2);
  margin: 20px;
  padding: 10px;
  min-width: 150px;
  border-radius: 20px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.cartBtn:hover {
  background-color: rgb(255, 231, 95);
  color: black;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.cartBtn:active {
  background-color: rgb(207, 176, 2);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

.seemorebutton {
  margin: 20px;
  color: #181818;
  width: 200px;
  padding: 15px;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
 }

/*ADD BANNER*/
.reklambanner{
  background-image: url(../imgs/backgrund.png);
  background-size: cover;
 
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgb(255, 255, 255);;
}
#reklamtext{
  background-color: transparent;
  border-radius: 10px;


  backdrop-filter: blur(5px);
}

/*GIFT CARD*/
#Presentkort{
  

  
  background-image: url(../imgs/people.png);


 background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

#presentkortinnehåll{
  color: white;


  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  gap: 200px;

}
#presentkorttext{
  width: 500px;
  color: white;
  background: rgba(0, 0, 0, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
}

#presentkortkort{
  background-image: url(../imgs/kort.png);
  border: 1px solid white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 border: solid 1px black;
 background-color: grey;
 border-radius: 10px;
 width: 400px;
 height: 250px;


}
#presentkortdiv{
  
 
  background-color: #333333;
  
  
  display: flex;
  flex-direction: column;
 align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}
#giftcardtext{
  margin-top: 20vh;
  background: rgba(0, 0, 0, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 20px;
  width: 110vh;
  color: white;
  padding: 10px;
  font-weight: 600;
  
}









::-webkit-scrollbar-thumb:hover {
  background-color: rgb(241, 198, 6);
}

::-webkit-scrollbar-track {
  background-color: #afafaf;
}


/* CART */


@media (max-width: 800px) {
  .form__row {
    flex-direction: column-reverse;
  }
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h4 {
  margin-top: 0;
}

input {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #0b0b0b;
  outline: none;
}
.imagePreview {
  margin-top: 20px;
  border-radius: 20px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}
.backLink {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}
.updateButton {
  display: block;
  width: 20%;
  padding: 10px;
  background-color: #04AA6D;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.DeleteButton:hover {
  background-color: #4a4e52;
}
.DeleteButton:hover {
  background-color: #4a4e52;
}
#createproductnavigering {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  transition: 0.5s;
  text-decoration: none;
  color: white;
  margin-top: 15px;
  width: 120px;
  padding: 10px;
  padding-left: 20px;
  background-color: #04AA6D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#createproductnavigering:hover {
  scale: 1.1;
}

#uppdateraKnapp {
  all: unset;
  border-radius: 5px;
  color: white;
  border: none;
  background-color: #04AA6D;
  text-align: center;
  padding: 0;
  padding: 5px 5px;
  font-weight: bold;
  text-decoration: none;
  height: 25px;

}
#uppdateraKnapp:active {
  transform: scale(0.9);
}

#knappcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 88px;
}

#carthoverdiv {
  position: absolute;
  width: 500px;
  top: 100%;
  right: -205px;
  background: #fff;
  padding: 16px;
  border-radius: 4px;
  z-Index: 9999;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  transition: 2s;
}
.DeleteButton:hover {
  background-color: #4a4e52;
}

.DeleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 85px;
  text-align: center;
  border-radius: 4px;
  background-color: #921616;
  color: #fff;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}
.DeleteButton:hover {
  background-color: #4a4e52;
}

#carthoverdiv table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid lightgrey;

}
#checkoutknapp {
  all: unset;
  border-radius: 5px;
  color: white;
  border: none;
  background-color: #04AA6D;
  text-align: center;
  padding: 0;
  padding: 5px 5px;
  font-weight: bold;
  text-decoration: none;
  height: 25px;

}
#carthoverdiv td {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid lightgrey;
}
#carthoverdiv tr:hover {
  background-color: lightgray;
}
#formcontainer{
  background-color: rgba(255,255,255,.5);
  backdrop-filter: blur(10px);
  box-shadow: -20px 20px 10px rgba(0,0,0,0.3);
  margin: 0 auto;
  background-color: white;
  display: flex;
 padding-top: 50px;
justify-content: center;
  flex-direction: row;
  width: 1400px;
}
.form-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}
#formcontainer{
  background-color: rgba(255,255,255,.5);
  backdrop-filter: blur(10px);

min-height: 1000px;
}
#checkoutform{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.inputcheckout{
 border: 2px solid rgb(131, 131, 131);
 font-size: 20px;
}


/*LANIDNG PAGE*/
.landing-container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.landing-page{
  height: 90vh;
  width: 100%;
  background-image: url(./imgs/chase-fade-XOLIrILp-vI-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.in-pic-container{
  display: flex;
    flex-direction: column;
  height: 150px;
  width: 500px;
  justify-content: center;
  align-items: center;
  margin-top: 35vh;
  color: white;
}

.store-name-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}
.highlighted-letter {
  color: rgb(236, 194, 6);
}

.btn-container {
  display: flex;
  width: 400px;
  height: 55px;
  justify-content: space-evenly;
  align-items: center;
}

.btn-container button {
  background-color:rgb(249, 204, 2);
  border: none;
  padding: 0.5rem;
  font-size: 15px;
  width: 12em;
  border-radius: 16px;
  color: white;
  box-shadow: 0 0.2rem #797916;
  cursor: pointer;
}

.btn-container .custom-login-btn {
  background-color: rgba(255, 255, 255, 0.212);
  box-shadow: 0 0.2rem #0303016e;
}

.btn-container button:active {
  color: white;
  box-shadow: 0 0.2rem #797916;
  transform: translateY(0.3rem);
}

.btn-container button:hover:not(:disabled) {
  background-color: rgb(236, 194, 6);
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

.btn-container button:disabled {
  cursor: auto;
  color: grey;
}
